body {
    background: #f3f3f3;
}

/* FONT */
@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");font-weight:700;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("opentype");font-weight:100;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}@font-face{font-family:proxima-nova;src:url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");font-weight:300;font-style:normal;}@font-face{font-family:alternate-gothic-no-3-d;src:url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");font-weight:400;font-style:normal;}


/** Normalize **/
.arlo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.arlo *,
.arlo *::after,
.arlo *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.arlo article,
.arlo aside,
.arlo details,
.arlo figcaption,
.arlo figure,
.arlo footer,
.arlo header,
.arlo main,
.arlo menu,
.arlo nav,
.arlo section,
.arlo summary {
    display: block;
}

.arlo audio,
.arlo canvas,
.arlo progress,
.arlo video {
    display: inline-block;
}

.arlo audio:not([controls]) {
    display: none;
    height: 0;
}

.arlo progress {
    vertical-align: baseline;
}

.arlo template,
.arlo [hidden] {
    display: none;
}

.arlo a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.arlo a:active,
.arlo a:hover {
    outline-width: 0;
}

.arlo abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
            text-decoration: underline dotted;
}

.arlo b,
.arlo strong {
    font-weight: inherit;
}

.arlo b,
.arlo strong {
    font-weight: bolder;
}

.arlo code,
.arlo kbd,
.arlo samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo dfn {
    font-style: italic;
}

.arlo h1 {
    font-size: 2em;
    margin: 0.75em 0;
}

.arlo mark {
    background-color: #ff0;
    color: #000;
}

.arlo small {
    font-size: 80%;
}

.arlo sub,
.arlo sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.arlo sub {
    bottom: -0.25em;
}

.arlo sup {
    top: -0.5em;
}

.arlo img {
    border-style: none;
}

.arlo svg:not(:root) {
    overflow: hidden;
}

.arlo figure {
    margin: 1.5em 40px;
}

.arlo hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.arlo pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo button,
.arlo input,
.arlo optgroup,
.arlo select,
.arlo textarea {
    font: inherit;
    margin: 0;
}

.arlo button,
.arlo input {
    overflow: visible;
}

.arlo button,
.arlo select {
    text-transform: none;
}

.arlo button,
.arlo html [type="button"],
.arlo [type="reset"],
.arlo [type="submit"] {
    -webkit-appearance: button;
}

.arlo button::-moz-focus-inner,
.arlo [type="button"]::-moz-focus-inner,
.arlo [type="reset"]::-moz-focus-inner,
.arlo [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.arlo button:-moz-focusring,
.arlo [type="button"]:-moz-focusring,
.arlo [type="reset"]:-moz-focusring,
.arlo [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.arlo [type="checkbox"],
.arlo [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.arlo [type="number"]::-webkit-inner-spin-button,
.arlo [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.arlo [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.arlo [type="search"]::-webkit-search-cancel-button,
.arlo [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.arlo ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.arlo ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.arlo fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.arlo legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    color: inherit;
    padding: 0;
}

.arlo optgroup {
    font-weight: bold;
}

.arlo textarea {
    overflow: auto;
}

.arlo ol,
.arlo ul,
.arlo li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** Arlo Theme General Style **/
.arlo {
    font-size: 16px;
    font-family: "proxima-nova", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1240px;
    margin: 2em auto;
    color: #21313e;
}

.arlo a,
.arlo .arlo-filter-unordered-list li,
.arlo .arlo-show-more {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.arlo .arlo-loading-overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.arlo .arlo-loading-overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.arlo a {
    color: #000000;
    text-decoration: none;
}

.arlo a:hover {
    color: #e20c46;
}

.arlo h1,
.arlo-h1 {
    font-size: 48px;
}

.arlo h2,
.arlo-h2 {
    font-size: 40px;
}

.arlo h3,
.arlo-h3 {
    font-size: 32px;
}

.arlo h4,
.arlo-h4 {
    font-size: 24px;
}

.arlo img {
    max-width: 100%;
}

.arlo select {
    padding: 10px 70px 10px 24px;
    cursor: pointer;
}

.arlo .arlo-bg-color-primary {
    background-color: #e20c46;
}

.arlo .arlo-bg-color-secondary {
    background-color: #21313e;
}

.arlo .arlo-bg-color-filters {
    background-color: #e20c46;
}

.arlo .arlo-bg-color-normal {
    background-color: #bdbcc3;
}

.arlo .arlo-bg-color-darker {
    background-color: #21313e;
}

.arlo .arlo-bg-color-darkest {
    background-color: #21313e;
}

.arlo .arlo-text-color-primary {
    color: #e20c46;
}

.arlo .arlo-text-color-secondary {
    color: #21313e;
}

.arlo .arlo-text-color-contrast {
    color: #ffffff;
}

.arlo .arlo-text-color-lightest {
    color: #848893;
}

.arlo .arlo-text-color-light {
    color: #848893;
}

.arlo .arlo-text-color-normal {
    color: #21313e;
}

.arlo .arlo-text-color-dark {
    color: #21313e;
}

.arlo .arlo-text-color-link {
    color: #21313e;
}

.arlo .arlo-font-primary {
    font-family: "proxima-nova", Arial, sans-serif;
}

.arlo .arlo-font-secondary {
    font-family: "proxima-nova", Arial, sans-serif;
}

.arlo .arlo-font-special {
    font-family: "alternate-gothic-no-3-d";
}

.arlo .arlo-font-size-larger {
    font-size: 110%;
}

.arlo .arlo-clearfix,
.arlo .arlo-event-list.arlo-events-1 .arlo-event-listitem {
    zoom: 1;
}

.arlo .arlo-clearfix:after,
.arlo .arlo-event-list:after,
.arlo .arlo-event-list.arlo-events-1 .arlo-event-listitem:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

*:first-child+html .arlo-clearfix,
*:first-child+html .arlo .arlo-event-list.arlo-events-1 .arlo-event-listitem,
.arlo .arlo-event-list.arlo-events-1 *:first-child+html .arlo-event-listitem {
    zoom: 1;
}


/** Filters **/
.arlo .arlo-filters-container {
    width: 100%;
}

.arlo .arlo-filters div[id^='filter-'] {
    display: inline-block;
    width: calc(25% - 5px);
    padding: 10px;
}

.arlo .arlo-filters div[id^='filter-']:first-of-type {
    padding-left: 0;
}

.arlo[max-width~="760px"] div[id^='filter-'] {
    display: block;
    width: 100%;
    padding: 10px 0;
}

.arlo .arlo-filters select {
    display: block;
    width: 100%;
    background-color: #ffffff, #21313e, #21313e;
    border: none;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.arlo .arlo-filters select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'><path fill='%23e20c46' d='M18.706 8.294c-0.387-0.387-1.025-0.387-1.413 0l-5.294 5.294-5.294-5.294c-0.387-0.387-1.025-0.387-1.413 0s-0.387 1.025 0 1.413l6 6c0.194 0.194 0.45 0.294 0.706 0.294s0.513-0.1 0.706-0.294l6-6c0.394-0.387 0.394-1.025 0-1.413z'></path></svg>");
    background-position: right 1em center;
    background-repeat: no-repeat;
}

.arlo .arlo-filters select::-ms-expand {
    display: none;
}

.arlo .arlo-filters .arlo-filter-unordered-list li,
.arlo .arlo-filters input.arlo-search {
    padding: 10px 12px;
}

.arlo .arlo-filters .arlo-timezone-select {
    display: none;
    max-width: 360px;
    background-color: transparent;
    border: none;
}

.arlo .arlo-filters .arlo-timezone-select:focus {
    background-color: transparent !important;
}

.arlo .arlo-filters .arlo-filter-inline {
    display: inline-block;
}



/* Page header */
.arlo .arlo-page-header {
    margin-bottom: 30px;
    padding: 0 0 15px;
    border-bottom: 1px solid #e8e8e8;
    text-align: left;
}

.arlo .arlo-page-header ul {
    display: inline-block;
    text-align: left;
}

.arlo .arlo-page-header ul,
.arlo .arlo-page-header li {
    list-style: disc inside;
}

.arlo .arlo-page-title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 50px;
    font-weight: 400;
}

.arlo .arlo-page-description {
    margin-top: 10px;
}

.arlo .arlo-page-description p {
    margin: 5px 0;
}

.arlo .arlo-template-price {
    font-size: 20px;
}

/** Event template **/

.arlo .arlo-event-list {
    margin-left: -5px;
    margin-right: -5px;
}

.arlo .arlo-event-listitem {
    float: left;
    position: relative;
    padding: 5px;
    text-align: initial;
}

.arlo[max-width~="1200px"] .arlo-event-list.arlo-events-3 .arlo-event-listitem,
.arlo[max-width~="1200px"] .arlo-event-list.arlo-events-4 .arlo-event-listitem {
    width: 33.33%;
}

.arlo[max-width~="992px"] .arlo-event-list.arlo-events-2 .arlo-event-listitem,
.arlo[max-width~="992px"] .arlo-event-list.arlo-events-3 .arlo-event-listitem,
.arlo[max-width~="992px"] .arlo-event-list.arlo-events-4 .arlo-event-listitem {
    width: 50%;
}

.arlo[max-width~="550px"] .arlo-event-list.arlo-events-1 .arlo-event-listitem,
.arlo[max-width~="550px"] .arlo-event-list.arlo-events-2 .arlo-event-listitem,
.arlo[max-width~="550px"] .arlo-event-list.arlo-events-3 .arlo-event-listitem,
.arlo[max-width~="550px"] .arlo-event-list.arlo-events-4 .arlo-event-listitem {
    width: 100%;
    display: block;
    padding: 10px 0;
}

.arlo .arlo-event-list.arlo-events-4 .arlo-event-listitem {
    width: 25%;
}

.arlo .arlo-event-list.arlo-events-3 .arlo-event-listitem {
    width: 33.33%;
}

.arlo .arlo-event-list.arlo-events-2 .arlo-event-listitem {
    width: 50%;
}

.arlo .arlo-event-list.arlo-events-1 .arlo-event-listitem {
    width: 100%;
}

.arlo .arlo-events-1 .arlo-col-2 {
    float: left;
    width: 50%;
}

.arlo[max-width~="992px"] .arlo-events-1 .arlo-last-col {
    padding-left: 20px;
    border-left: 1px solid #e0e0e0;
}

.arlo[max-width~="992x"] .arlo-events-1 .arlo-col-2 .arlo-col-2 {
    float: none;
    width: 100%;
}

.arlo[max-width~="499px"] .arlo-events-1 .arlo-col-2 {
    float: none;
    width: 100%;
    padding-left: 0;
    border-left: none;
}

.arlo .arlo-events-1 .arlo-listitem {
    /*overflow: hidden;*/
}

.arlo .arlo-events-1 .arlo-listitem:after {
   content: '';
   position: relative;
   height: 1px;
   clear: both;
   display: block;
   width: 100%;
}

.arlo .arlo-event-listitem .arlo-listitem {
    position: relative;
    width: 100%;
    padding: 20px;
    background: #fff;
}

.arlo .arlo-event-list .arlo-listitem-header {
    margin-bottom: 10px;
    position: relative;
}

.arlo[max-width~="550px"] .arlo-event-list.arlo-events-1 .arlo-listitem-header,
.arlo .arlo-event-list.arlo-events-2 .arlo-listitem-header,
.arlo .arlo-event-list.arlo-events-3 .arlo-listitem-header,
.arlo .arlo-event-list.arlo-events-4 .arlo-listitem-header {
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e0e0e0;
}

.arlo .arlo-event-list.arlo-events-2 .arlo-listitem-footer,
.arlo .arlo-event-list.arlo-events-3 .arlo-listitem-footer,
.arlo .arlo-event-list.arlo-events-4 .arlo-listitem-footer {
/*     position: absolute; */
    bottom: 20px;
    left: 20px;
}

.arlo #arlo-event-template .arlo-date {
    display: block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 900;
    line-height: 1;
}

.arlo .arlo-event-listitem .arlo-location {
    display: inline-block;
}

.arlo .arlo-offers {
    margin-bottom: 5px;
    font-weight: 700;
}

.arlo .arlo-event-listitem .fa {
    width: 16px;
    margin-right: 3px;
    color: #999999;
    font-size: 16px;
    text-align: center;
}

.arlo .arlo-offers .fa {
    float: left;
    margin-top: 4px;
    margin-right: 7px;
}

.arlo .arlo-offers .arlo-offer-container,
.arlo .arlo-offers .arlo-offer-ul {
    display: block;
}

.arlo .arlo-offers .arlo-offer-ul {
    padding-left: 0;
}

.arlo .arlo-offers .arlo-offer-ul .arlo-offer-li {
    list-style: none;
}

.arlo .arlo-offers .arlo-discount-offer,
.arlo .arlo-offers .arlo-original-price {
    color: #e20c46;
}

.arlo .arlo-offers .arlo-original-price {
    text-decoration: line-through;
}

.arlo .arlo-offers .arlo-offer-taxrate,
.arlo .arlo-offers .arlo-offer-taxrate-shortname {
    font-size: .7em;
    opacity: .6;
}

.arlo .arlo-event-listitem hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    border-top: 1px solid #e20c46;
}


.arlo .arlo-register-interest-container {
    margin: 30px 0;
    clear: both;
    text-align: center;
}

.arlo .arlo-register-interest span,
.arlo .arlo-register-interest-container span {
    display: block;
    font-size: 16px;
    margin-bottom: 20px;
}

.arlo .arlo-register-interest .arlo-register-interest-link,
.arlo .arlo-register-interest-container .arlo-register-interest-link {
    display: inline-block;
    color: #00d0ff;
    border-bottom: 1px solid;
}

.arlo .arlo-online-activities {
    width: 100%;
}

.arlo .arlo-online-activities .arlo-oa-listitems {
    margin: 0 auto;
}

.arlo .arlo-online-activities .arlo-oa-listitem {
    margin: 0 auto;
    margin-bottom: 12px;
    background: #fafafa;
    padding: 20px;
}

.arlo .arlo-online-activities .arlo-item-header {
    font-size: 24px;
    font-weight: 900;
}

.arlo .arlo-online-activities .arlo-details {
    float: left;
}

.arlo ul.arlo-content-field-list {
    margin-bottom: 40px;
    border-bottom: 1px solid #e8e8e8;
}

.arlo li.arlo-content-field-listitem {
    margin-bottom: 30px;
}

.arlo .arlo-content-field-name {
    display: inline-block;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: bold;
}

.arlo .arlo-content-field-text {
    color: #000000;
}

.arlo .arlo-content-field-text ul {
    margin-left: 30px;
    padding: 0;
}

.arlo .arlo-content-field-text ul li {
    list-style: disc;
    padding: 0;
    margin: 0;
}


/* Event Registration */

.arlo .arlo-event-register,
.arlo .arlo-event-register-info {
    display: inline-block;
    padding: 14px 25px 11px;
    border: 2px solid;
    font-size: 16px;
    font-weight: 400;
    font-family: 'alternate-gothic-no-3-d';
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.arlo .arlo-event-register-info {
    padding-left: 0;
    padding-right: 0;
    border: none;
}

.arlo .arlo-event-register-info p {
    padding: 0;
    margin: 0;
}

.arlo .arlo-listitem .arlo-places-remaining {
    margin-right: 5px;
}

.arlo .arlo-events-1 .arlo-places-remaining,
.arlo .arlo-events-1 .arlo-event-full {
    text-align: right;
}

.arlo .arlo-event-register {
    color: #ffffff;
    background-color: #e20c46;
    border-color: #e20c46;
}

.arlo .arlo-event-register:hover {
    color: #e20c46;
    background-color: transparent;
    border-color: #e20c46;
}

.arlo .arlo-event-register.arlo-waiting-list {
    color: #e20c46;
    background-color: transparent;
    border-color: #e20c46;
}

.arlo .arlo-event-register.arlo-waiting-list:hover {
    color: #ffffff;
    background-color: #e20c46;
    border-color: #e20c46;
}

.arlo #arlo-event-template .arlo-event-list.arlo-events-1 .arlo-event-register {
    float: right;
}

.arlo .arlo-online-activities .arlo-registration {
    float: right;
}
/* End of Event Registration */

.arlo .arlo-show-more-container {
    margin-top: 40px;
    text-align: center;
    clear: both;
}

.arlo .arlo-show-more {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 25px 11px;
    border: 2px solid #e20c46;
    cursor: pointer;
    font-family: "alternate-gothic-no-3-d";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.arlo .arlo-show-more:hover {
    background: transparent;
    color: #e20c46;
}


/* No results found */
.arlo .arlo-no-results-found {
    text-align: center;
    font-size: 16px;
}

/** Tooltip **/
.arlo .tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    filter: alpha(opacity=0);
    opacity: 0;
    line-break: auto;
}

.arlo .tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}

.arlo .tooltip.in {
    opacity: .95;
}

.arlo .tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.arlo .tooltip.bottom .tooltip-arrow {
    top: 0;
    padding: 0 !important;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #262626;
}

.arlo .tooltip .tooltip-inner {
    text-align: left;
    padding: 16px 20px;
    background: #262626;
    max-width: 250px;
}

.arlo .tooltip .tooltip-inner h3,
.arlo .tooltip .tooltip-inner h4 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 1.5em;
    color: white;
}

.arlo .tooltip .tooltip-inner li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 6px;
    margin-bottom: 6px;
}

.arlo .tooltip .tooltip-inner li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
}

.arlo .tooltip .arlo-sessions {
    margin: 0;
}

.arlo .tooltip .arlo-session {
    font-size: 1.2em;
}

.arlo .tooltip .arlo-session * {
    display: inline-block;
    word-wrap: normal;
    padding: 0;
    line-height: 1;
}

.arlo .tooltip .arlo-session .arlo-session-name {
    display: block;
    font-size: 1.1em;
    font-weight: 700;
    color: #3880ff;
}

.arlo .tooltipcontent {
    display: none;
}

.arlo .arlo-session-info {
    cursor: pointer;
}

/*Custom Arlo Support Changes*/

.arlo-offer-taxrate,
.arlo-offer-taxrate-shortname
{ display:none;
}

h1.arlo-page-title.arlo-font-special {
 font-weight: 600
}
