body {
    background: #f3f3f3;
}
/* 
/* FONT */
@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"),url(https://use.typekit.net/af/71f83c/00000000000000003b9b093b/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff2"),url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("woff"),url(https://use.typekit.net/af/ed0e78/00000000000000003b9b0931/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3) format("opentype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/4838bd/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: proxima-nova;
    src: url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff2"),url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("woff"),url(https://use.typekit.net/af/437c3d/00000000000000003b9b0932/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3) format("opentype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: alternate-gothic-no-3-d;
    src: url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"),url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"),url(https://use.typekit.net/af/f629be/000000000000000000010d5d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
    font-weight: 400;
    font-style: normal; */
}

/** Normalize **/
.arlo {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.arlo *, .arlo *::after, .arlo *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.arlo article, .arlo aside, .arlo details, .arlo figcaption, .arlo figure, .arlo footer, .arlo header, .arlo main, .arlo menu, .arlo nav, .arlo section, .arlo summary {
    display: block;
}

.arlo audio, .arlo canvas, .arlo progress, .arlo video {
    display: inline-block;
}

.arlo audio:not([controls]) {
    display: none;
    height: 0;
}

.arlo progress {
    vertical-align: baseline;
}

.arlo template, .arlo [hidden] {
    display: none;
}

.arlo a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.arlo a:active, .arlo a:hover {
    outline-width: 0;
}

.arlo abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
}

.arlo b, .arlo strong {
    font-weight: inherit;
}

.arlo b, .arlo strong {
    font-weight: bolder;
}

.arlo code, .arlo kbd, .arlo samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo dfn {
    font-style: italic;
}

.arlo h1 {
    font-size: 2em;
    margin: 0.75em 0;
}

.arlo mark {
    background-color: #ff0;
    color: #000;
}

.arlo small {
    font-size: 80%;
}

.arlo sub, .arlo sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

.arlo sub {
    bottom: -0.25em;
}

.arlo sup {
    top: -0.5em;
}

.arlo img {
    border-style: none;
}

.arlo svg:not(:root) {
    overflow: hidden;
}

.arlo figure {
    margin: 1.5em 40px;
}

.arlo hr {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.arlo pre {
    font-family: monospace, monospace;
    font-size: 1em;
}

.arlo button, .arlo input, .arlo optgroup, .arlo select, .arlo textarea {
    font: inherit;
    margin: 0;
}

.arlo button, .arlo input {
    overflow: visible;
}

.arlo button, .arlo select {
    text-transform: none;
}

.arlo button, .arlo html [type="button"], .arlo [type="reset"], .arlo [type="submit"] {
    -webkit-appearance: button;
}

.arlo button::-moz-focus-inner, .arlo [type="button"]::-moz-focus-inner, .arlo [type="reset"]::-moz-focus-inner, .arlo [type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0;
}

.arlo button:-moz-focusring, .arlo [type="button"]:-moz-focusring, .arlo [type="reset"]:-moz-focusring, .arlo [type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText;
}

.arlo [type="checkbox"], .arlo [type="radio"] {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.arlo [type="number"]::-webkit-inner-spin-button, .arlo [type="number"]::-webkit-outer-spin-button {
    height: auto;
}

.arlo [type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px;
}

.arlo [type="search"]::-webkit-search-cancel-button, .arlo [type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

.arlo ::-webkit-input-placeholder {
    color: inherit;
    opacity: 0.54;
}

.arlo ::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit;
}

.arlo fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

.arlo legend {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: table;
    max-width: 100%;
    white-space: normal;
    color: inherit;
    padding: 0;
}

.arlo optgroup {
    font-weight: bold;
}

.arlo textarea {
    overflow: auto;
}

.arlo ol, .arlo ul, .arlo li {
    list-style: none;
    padding: 0;
    margin: 0;
}

/** Arlo Theme General Style **/
.arlo {
    font-size: 16px;
    font-family: "montserrat", Arial, sans-serif;
    line-height: 1.5;
    max-width: 1240px;
    margin: 2em auto;
    color: #21313e;
}

.arlo a, .arlo .arlo-filter-unordered-list li, .arlo .arlo-show-more {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.arlo .arlo-loading-overlay {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    bottom: 50%;
    top: 50%;
    left: 50%;
    right: 50%;
}

.arlo .arlo-loading-overlay:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
}

.arlo .arlo-loading-overlay:not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
}

.arlo .arlo-loading-overlay:not(:required):after {
    content: '';
    display: block;
    font-size: 10px;
    width: 1em;
    height: 1em;
    margin-top: -0.5em;
    -webkit-animation: spinner 1500ms infinite linear;
    animation: spinner 1500ms infinite linear;
    border-radius: 0.5em;
    -webkit-box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
    box-shadow: rgba(0, 0, 0, 0.75) 1.5em 0 0 0, rgba(0, 0, 0, 0.75) 1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) 0 1.5em 0 0, rgba(0, 0, 0, 0.75) -1.1em 1.1em 0 0, rgba(0, 0, 0, 0.75) -1.5em 0 0 0, rgba(0, 0, 0, 0.75) -1.1em -1.1em 0 0, rgba(0, 0, 0, 0.75) 0 -1.5em 0 0, rgba(0, 0, 0, 0.75) 1.1em -1.1em 0 0;
}

@-webkit-keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spinner {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.arlo a {
    color: #21313e;
}

.arlo a:hover {
    color: #e20c46;
}

.arlo h1, .arlo-h1 {
    font-size: 48px;
}

.arlo h2, .arlo-h2 {
    font-size: 40px;
}

.arlo h3, .arlo-h3 {
    font-size: 32px;
}

.arlo h4, .arlo-h4 {
    font-size: 24px;
}

.arlo img {
    max-width: 100%;
}

.arlo select {
    padding: 10px 70px 10px 24px;
    cursor: pointer;
}

.arlo .arlo-bg-color-primary {
    background-color: #e20c46;
}

.arlo .arlo-bg-color-secondary {
    background-color: #21313e;
}

.arlo .arlo-bg-color-filters {
    background-color: #e20c46;
}

.arlo .arlo-bg-color-normal {
    background-color: #bdbcc3;
}

.arlo .arlo-bg-color-darker {
    background-color: #21313e;
}

.arlo .arlo-bg-color-darkest {
    background-color: #21313e;
}

.arlo .arlo-text-color-primary {
    color: #e20c46;
}

.arlo .arlo-text-color-secondary {
    color: #21313e;
}

.arlo .arlo-text-color-contrast {
    color: #ffffff;
}

.arlo .arlo-text-color-lightest {
    color: #848893;
}

.arlo .arlo-text-color-light {
    color: #848893;
}

.arlo .arlo-text-color-normal {
    color: #21313e;
}

.arlo .arlo-text-color-dark {
    color: #21313e;
}

.arlo .arlo-text-color-link {
    color: #21313e;
}

.arlo .arlo-font-primary {
    font-family: "montserrat", Arial, sans-serif;
}

.arlo .arlo-font-secondary {
    font-family: "montserrat", Arial, sans-serif;
}

.arlo .arlo-font-special {
    font-family: "montserrat";
}

.arlo .arlo-font-size-larger {
    font-size: 110%;
}

.arlo .arlo-clearfix {
    zoom: 1; }

.arlo .arlo-clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

*:first-child+html .arlo-clearfix {
    zoom: 1; }

/** OA list **/
.arlo .arlo-oa-listitems {
    list-style: none;
    padding-left: 0;
    margin: 20px auto 0;
}

.arlo .arlo-oa-listitem {
    position: relative;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(189, 188, 195, 0.1);
    list-style: none;
}

.arlo .arlo-oa-listitem:nth-of-type(odd) {
    background: #fff;
}

.arlo .arlo-oa-listitem::after {
    clear: both;
    content: "";
    display: table;
}

.arlo .arlo-oa-listheader {
    display: none;
    border-bottom: 1px solid rgba(189, 188, 195, 0.3);
}

.arlo.arlo-loaded .arlo-oa-listheader, .arlo .arlo-oa-listitem .arlo-listitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.arlo[max-width~="760px"] .arlo-oa-listheader {
    display: none;
}

.arlo .arlo-oa-listheader .arlo-icon-header, .arlo .arlo-oa-listheader .arlo-title-header, .arlo .arlo-oa-listheader .arlo-price-header, .arlo .arlo-oa-listheader .arlo-link-header {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px 20px;
    vertical-align: top;
}

.arlo .arlo-oa-listheader .arlo-icon-header {
    max-width: 80px;
    padding-left: 0;
}

.arlo .arlo-oa-listheader .arlo-title-header {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
}

.arlo[max-width~="760px"] .arlo-oa-listitem .arlo-listitem {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.arlo .arlo-oa-listitem .arlo-icon {
    display: block;
    width: 80px;
    padding: 7px;
    font-size: 44px;
    font-weight: 100;
    text-align: center;
}

.arlo .arlo-oa-listitem .arlo-icon-elearning {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 15px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgdmlld0JveD0iMCAwIDUwIDUwIj4gICAgPHBhdGggZmlsbD0iI2UyMGM0NiIgZD0iTTAgN3YzMmg1MFY3em0yIDJoNDZ2MjhIMnptMTguNjI1IDcuNTk0Yy0uMTEgMC0uMjE1LjA0LS4zMTMuMDkzLS4yLjExNC0uMzEyLjMzNi0uMzEyLjU2M3YxMi43MmMwIC4yMjUuMTE3LjQ0OC4zMTMuNTYuMDk3LjA2LjIwMy4wNjQuMzEyLjA2NC4xMSAwIC4yNDYtLjAwNC4zNDQtLjA2M2wxMS02LjM3NGMuMTk0LS4xMTMuMzEtLjMzNi4zMS0uNTYyIDAtLjIyNy0uMTE2LS40MTgtLjMxLS41MzJsLTExLTYuMzc1Yy0uMS0uMDU0LS4yMzYtLjA5My0uMzQ1LS4wOTN6TTEwLjgxMiA0MWMtLjU1LjA1LS45NTcuNTQzLS45MDYgMS4wOTQuMDUuNTUuNTQzLjk1NyAxLjA5NC45MDZoMjhjLjM2LjAwNC42OTUtLjE4NC44OC0uNDk2LjE4LS4zMTMuMTgtLjY5NSAwLTEuMDA4LS4xODUtLjMxMi0uNTItLjUtLjg4LS40OTZIMTAuODEyeiI+PC9wYXRoPjwvc3ZnPg==);
}

.arlo .arlo-oa-listitem .arlo-title, .arlo .arlo-oa-listitem .arlo-price, .arlo .arlo-oa-listitem .arlo-link {
    display: inline-block;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 15px 20px;
    vertical-align: top;
}

.arlo .arlo-oa-listitem .arlo-title p, .arlo .arlo-oa-listitem .arlo-price p {
    margin: 0;
    font-size: 16px;
    line-height: 22px;
}

.arlo[max-width~="760px"] .arlo-oa-listitem .arlo-title .arlo-summary, .arlo[max-width~="760px"] .arlo-oa-listitem .arlo-price p, .arlo[max-width~="760px"] .arlo-oa-listitem .arlo-link {
    font-size: 14px;
    line-height: 1.5;
}

.arlo .arlo-oa-listitem .arlo-title {
    -webkit-box-flex: 4;
    -ms-flex-positive: 4;
    flex-grow: 4;
}

.arlo[max-width~="760px"] .arlo-oa-listitem .arlo-title {
    margin-left: 0;
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: calc(100% - 80px);
}

.arlo[max-width~="600px"] .arlo-oa-listitem .arlo-title {
    width: 100%;
}

.arlo .arlo-oa-listitem .arlo-title .arlo-name {
    font-weight: 700;
}

.arlo .arlo-oa-listitem .arlo-link {
    text-align: center;
}

.arlo[max-width~="600px"] .arlo-oa-listitem .arlo-link {
    -webkit-box-flex: 1;
    -ms-flex: auto;
    flex: auto;
    width: 100%;
}

.arlo .arlo-button, .arlo .arlo-show-more {
    padding: 14px 25px 11px;
    border: 2px solid #e20c46;
    cursor: pointer;
    font-family: "montserrat";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
}

.arlo .arlo-button:hover, .arlo .arlo-show-more:hover {
    background: transparent;
    color: #e20c46;
}

.arlo .arlo-oa-listitem .arlo-link .arlo-button {
    display: block;
    float: right;
    margin: 0;
}

.arlo[max-width~="760px"] .arlo-oa-listitem .arlo-link .arlo-button {
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    padding: 8px 25px 5px;
    background: transparent;
    color: #E10C46;
    border-width: 1px;
}

.arlo .arlo-show-more-container {
    margin-top: 40px;
    text-align: center;
    clear: both;
}

.arlo .arlo-show-more {
    display: inline-block;
}

/* No results found */
.arlo .arlo-no-results-found {
    text-align: center;
    font-size: 16px;
}

.arlo .loading-overlay-container {
    margin-top: 120px;
}

/*Custom Arlo Support Changes*/
.arlo-offer-taxrate, .arlo-offer-taxrate-shortname {
    display: none;
}

.arlo .arlo-original-price {
    display: block;
}

.arlo .arlo-original-price::before {
    content: 'Standard Price';
    font-size: 12px;
}

.arlo .arlo-offer-label {
    font-size: 12px;
}
